// ==========================================================================
// Mixins
//==========================================================================
//Text Properties
@mixin text($size, $l-height: null, $weight: null, $color:null) {
	font-size: $size;
	line-height: $l-height;
	font-weight: $weight;
	color: $color;
}

//Color Theme
@mixin bg-colors($map) {
@each $theme, $color in $map {
	&--#{$theme} {
		background-color: $color;
		
	}
  }
	
	@content;
}


//Shadows

@mixin text-shdo($hr: 0.5px, $vrt:0.5px, $blur:null, $col:$black) {
	text-shadow: $hr $vrt $blur $col;
}


@mixin box-shdo($in:inset, $hr:0, $vrt:0, $blur:15px, $sphd: null, $col:$black) {
	box-shadow: $in $hr $vrt $blur $sphd $col;
	}



@mixin br-default ($pix: 1px, $styl: solid, $colu:null) {
	border: $pix $styl $colu;
}

//BEM Selectors

@mixin e($element){
	&__#{$element} {
		@content;
	}
	
}


@mixin m($modifier){
	&--#{$modifier} {
		@content;
	}
	
}