// ==========================================================================
// Mixins
//==========================================================================
//Text Properties
@mixin text($size, $l-height: null, $weight: null, $color:null) {
	font-size: $size;
	line-height: $l-height;
	font-weight: $weight;
	color: $color;
}

//Color Theme
@mixin bg-colors($map) {
   @each $theme, $color in $map {
   	    &--#{$theme} {
   	    	background: $color;
   	    	background: linear-gradient(color-shade(black,light), $color 85%, color-shade(black, light) )
   	    	
   	    }
     }
   	
}

//Coloured Grids

@mixin colour-grids {
	@for $i from 2 through $g-col-count {
		$context: grid-context($g-col-width, $g-col-count, $g-gutter-width);
	   $target: ($g-col-width * $i) + ($g-gutter-width * ($i - 1));
	   
	        &--#{$i} {
		     width: percentage($target /$context );
	      }   

			
	  }
}


//SHADOWS

//Text Shadow
@mixin text-shdo($hr: 0.5px, $vrt:0.5px, $blur:null, $col:$black) {
	text-shadow: $hr $vrt $blur $col;
}

//Box Shadow
@mixin box-shdo($in:null, $hr:0, $vrt:0, $blur:15px, $sphd:null, $col:$black) {
	         box-shadow: $in $hr $vrt $blur $sphd $col;
	}


//Gradient

@mixin grad($dir:to bottom, $color1, $color2) {
    background: -webkit-linear-gradient($dir, $color1, $color2);
	background: -moz-linear-gradient($dir, $color1, $color2);
	background: -o-linear-gradient($dir, $color1, $color2);
	background: linear-gradient($dir, $color1, $color2);

}

//Border 
@mixin br-default ($pix: 1px, $styl: solid, $colu:null) {
	border: $pix $styl $colu;
}



//Image-background

@mixin pseudo-img-right  {
 
	background-image: -webkit-linear-gradient(left, $electric-blue 25%, rgba($lipstick, .6), transparent);
	background-image: -moz-linear-gradient(left, $electric-blue 25%, rgba($lipstick, .6), transparent);
	background-image: -o-linear-gradient(left, $electric-blue 25%, rgba($lipstick, .6), transparent);
	background-image: linear-gradient(left, $electric-blue 25%, rgba($lipstick, .6), transparent);

}



@mixin pseudo-img-top  {
 
	background-image: -webkit-linear-gradient(transparent,rgba($lipstick, .6)  25%, $electric-blue );
	background-image: -moz-linear-gradient(transparent, rgba($lipstick, .6) 25%,$electric-blue );
	background-image: -o-linear-gradient(transparent,rgba($lipstick, .6) 25%, $electric-blue );
	background-image: linear-gradient(transparent,rgba($lipstick, .6)  25%, $electric-blue );

}


//PSEUDO ELEMENT

@mixin pseu-el ($el, $el-w:null, $el-h:null){
	&:#{$el} {
		@extend %pseudo;
		width: $el-w;
		height: $el-h;
		@content;

	}
	 
	  
}



//Flex Box
@mixin flexy ($disp: flex,
			 $dir: null,
			 $wrap: null,
			 $just: null) {
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;

}

//BEM Selectors

@mixin e($element){
	&__#{$element} {
		@content;
	}
	
}


@mixin m($modifier){
	&--#{$modifier} {
		@content;
	}
	
}


//Media Query 

@mixin mq($break) {
  $brk-value : map-get($breakpoints, $break);
  $med       : map-get($breakpoints, "med");

      @if $brk-value < $med {
	  	  @media (max-width: $brk-value ){
	  	  	@content;
	  	  }
	  	  
	  }  
    
	  @else {
	  	  @media (min-width: $brk-value) {
	  	  	@content;
	  	  }
	  }
}