// ==========================================================================
// Variables
//==========================================================================

// Fonts

$font-url--google       :"https://fonts.googleapis.com/css?family=Poiret+One|Quicksand:400500700";
$font-family--primary   : 'Quicksand', 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
$font-family--secondary : 'Poiret One', Helvetica, Arial, 'sans-serif';


// Font Weights

$font-weight--regular    : 400;
$font-weight--medium     : 500;
$font-weight--bold       : 700;  



// Base Colours
//COLORS
$white                  : #FFF;
$black                  : #0b0b0b;
$grey                   : #797e83;
$mystic                 : #e5edf0; //blue white
$oxford-blue            : #324A51; //dark blue
$electric-blue          : #1bc4b9; //aqua blue
$lipstick               : #db006d; //pink
$japanese-laurel        : #009700; //green
$bondi-blue             : #0094ad; //blue
$studio                 : #8859b1; //purple
$pumpkin                : #ff7823; //orange
$red                    : #f91209;
//END COLORS

$color-shades: (
      grey:(

    xx-light:    ligthen($grey, 43%),
     x-light:    ligthen($grey, 35%),
     light  :    ligthen($grey, 12%),
     base   :    $grey,
     dark   :    darken($grey, 8%),
     x-dark :    darken($grey, 16%),

    ),

    black:(

    light:   lighten($black, 10%),
    base :   $black,  
    dark :   darken($black, 10%),
    ),
);

//Grid Colours
//COLORS
$malibu                 :#47E3FF;
$lavender-magenta       :#EC8FD0;
$dodger-blue            :#4787ff;
$coral                  :#ff8247;
$robins-egg-blue        :#07DAC0;
$electric-violet        :#6347ff;
$golden-fizz            :#F9F940;
$bright-turquoise       :#04D4F0;
$cameo                  :#d8bc9a;
//END COLORS

//Colour Usage

$color-primary          : $electric-blue; //aqua blue
$color-secondary        : $bondi-blue;    //blue
$color-accent           : $lipstick;      //pink






// BUTTON Colours
$btn-colors: ( 
default  : $electric-blue,
success  : rgba($japanese-laurel, 0.5),
error    : $red,
warning  : rgba($pumpkin, 0.8),
info     : $studio, 
);




//GRID Col Colours

$grid-bg-colrs: (
  1    : $coral,
  2    : $dodger-blue,
  3    : $robins-egg-blue,
  4    : $electric-violet,
  5    : $lavender-magenta,
  6    : $malibu,
  7    : $bright-turquoise,
  8    : $cameo,
  9    : $lipstick,
 10    : $japanese-laurel,
 11    : $studio,
 12    : $pumpkin,
  );



//Text

$base__font-size        : 16px;
$base__line             : 24px;
$letter-spacing         : 1px;

//Asset Paths
$path-img               : '../img';



//Border Radius
$br-rad                 : 0.25em;

//Breakpoints
$brkpoint-sm            :1px;
$brkpoint-md            :768px;
$brkpoint-lg            :1024px;
$brkpoint-xlg           :1400px;


