// ==========================================================================
// Variables
//==========================================================================

// Fonts

$font-url--google       :"https://fonts.googleapis.com/css?family=Poiret+One|Quicksand:400,500,700";
$font-family--primary   : 'Quicksand', 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
$font-family--secondary : 'Poiret One', Helvetica, Arial, 'sans-serif';


// Font Weights

$font-weight--regular    : 400;
$font-weight--medium     : 500;
$font-weight--bold       : 700;    

// Base Colours

$white                  : #FFF;
$black                  : #0b0b0b;
$mystic                 : #e5edf0; //blue white
$oxford-blue            : #324A51; //dark blue
$electric-blue          : #1bc4b9; //aqua blue
$lipstick               : #db006d; //pink
$japanese-laurel        : #009700; //green
$bondi-blue             : #0094ad; //blue
$studio                 : #8859b1; //purple
$pumpkin                : #ff7823; //orange
$red                    : #f91209;
                   


//Colour Usage
$color-primary          : $electric-blue; //aqua blue
$color-secondary        : $bondi-blue;    //blue
$color-accent           : $lipstick;      //pink

// UI Colours
$ui-colors: ( 
default  : $bondi-blue,
success  : $japanese-laurel,
error    : $red,
warning  : $pumpkin,
info     : $studio 
);
//Text

$base__font-size        : 16px;
$base__line             : 24px;
$letter-spacing         : 1px;

//Asset Paths
$path-img               : '../img';



//Border Radius
$br-rad                 : 0.25em;

//Breakpoints
$brkpoint-sm            :1px;
$brkpoint-md            :768px;
$brkpoint-lg            :1100px;
$brkpoint-xlg           :1400px;
