// ==========================================================================
// Variables
// ==========================================================================

// Base Colours

$white            :#FFF;
$oxford-blue      :#324A51;
$electric-blue    :#1bc4b9;
$lipstick         :#db006d;
$gradient         :linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);