//========================================
// GRID CONTAINERS
//=======================================
	



.grid__row {
	@extend %pad-sides;
	margin: em(50px) auto;
	max-width: em(1400px);
	
	
}


.theme__colors.grid__col {
	
	
	@for $i from 1 through 12 {
	  
	  &--#{$i} {
		
			background: linear-gradient(color-shade(black,light), map-get(
				$grid-bg-colrs, $i), color-shade(black, light) );		
	  }
	}
  }
  
