//========================================
// GRID CONTAINERS
//=======================================
	



.grid__row {
	@extend %pad-sides;
	margin: em(50px) auto;
	width: 98%;
	max-width: em(1400px);
	@include flexy ($dir: column);
	
}



 

.theme__colors.grid__col {
	
	
	@for $i from 1 through 12 {
	  
	  &--#{$i} {
		
			background: linear-gradient(color-shade(black,light), map-get(
				$grid-bg-colrs, $i), color-shade(black, light) );	
				@extend %btn;
				@include text-shdo();	
	  }
	}
  }
	
	
.grid__col,
.theme__colors.grid__col {
	@include flexy($dir: column);

	@for $i from 1 through $g-col-count {
	 
		$context: grid-context($g-col-width, $g-col-count, $g-gutter-width);
		$target: ($g-col-width * $i) + ($g-gutter-width * ($i - 1));
 
	 .grid__col--#{$i},
	 .theme__colors.grid__col--#{$i} {
		 width: percentage($target /$context);
 
	 }   
 
 
 
 }
}
