// ==========================================================================
// Nav
// ==========================================================================

nav {
padding: 1em;
margin-bottom: em(5px);

  .nav {
    	margin-top: em(30px);
    	margin-bottom: em(40px);
	    @include flexy($dir:column);

            @include e(item) {
		           @extend %nav-item-dis;
		           border-radius: em(10px); 
		       a {
		          @include text($size:em(20px), $weight: $font-weight--medium , $color: $oxford-blue); 
		           @extend %nav-item-link;
		           @include text-shdo($col: rgba($black, .5) );
		    
	    
		         &:hover {
			        @extend %nav-item-hov;
			        @extend %link-deflt;
			        background:rgba($color-primary, 0.7);
			        @include grad($color1:$white 20%, $color2: rgba($color-primary, 0.7));
			       }
			
				 
	     	}
		
		        @include mq("med"){
		        	display: inline-block;
		        	border-radius: em(5px);
		        	@include text($size:em(14px));
		        }
        
        
		        @include mq("lg"){
        
		        	@include text(em(18px));
		        }
        
		        @include mq("x-lg"){
        
		        	@include text(em(22px));
		        }
        
		
	}



	@include mq("med"){
		@include flexy($dir:row, $just:space-between);
	}
	
	

   }
} 
