// ==========================================================================
// Typography
//==========================================================================
.container {
	font-family: $font-family--primary;
	@include text($base__font-size, ($base__line/$base__font-size ), $color: color-shade(grey, dark));
	background-color: rgba($mystic, .1);

	@include mq("med"){
		@include text($size: em(18px));
		 
	   }
}




.headline--primary,
.headline--secondary,
.link{
	font-family: $font-family--secondary;

}

.headline--primary {
	@extend %h-prim;
	@include text(em(30px), (36px/30px), $color: $color-primary);
	@include text-shdo($blur:0, $col: color-shade(black, light) );

	   @include mq("med"){
		  @include text(em(34px));
	    }

	   @include mq("lg"){
		  @include text(em(35px));
	    }

	   @include mq("x-lg"){
		  @include text(em(36px));
	    }
}



.headline--secondary {
	@extend %h-sec;
	@include text(em(20px), $color: $oxford-blue);
	@include text-shdo($blur:0, $col: color-shade(black, light) );
	
 
	@include mq("med") {
		  @include text(em(22px));
	   }

	   @include mq("lg") {
		  @include text(em(23px));
	   }

	   @include mq("med") {
		  @include text(em(24px));
	   }
}


.link {
	@include text(em(19px), (36px/30px), $font-weight--bold, $color-accent);
	@extend %link-deflt;
	@include text-shdo($col: color-shade(black, light) );
	
  &:hover {
	 @extend %link-hov;
	}
}


p {
	   @include mq("med"){
		   @include text($size: em(18px));
		 
	     }

	   @include mq("lg"){
		   @include text($size: em(19px));
		 
	     }

	   @include mq("x-lg"){
		   @include text($size: em(20px));
		 
	     }
}

.blockquote {
	position: relative;
	padding: 1em;
	font-size: em(20px);
	line-height: (30px/22px);
	color: color-shade(grey, x-dark);
	font-style: italic;
	 
	   @include pseu-el(before){
	   	bottom: -8px;
	   	left:   -8px;
	   	
	   }
   
	   @include pseu-el(after){
	   	bottom: -8px;
	   	left:   -8px;
	   
	   }
   
	   @include pseu-el(before, $el-w:8px) {
	   	top: -8px;
	   	@include pseudo-img-top;
	   	
	   }
   
	   
   
	   @include pseu-el(after, $el-h:8px) {
	   	right: -8px;
	   	@include pseudo-img-right;
	   }
   
   
	   @include mq("med"){
	   	  font-size: em(23px);
	        line-height: (31px/23px);
	      }
   
	      @include mq("lg"){
	   	  font-size: em(26px);
	        line-height: (34px/26px);
	      }
   
	      @include mq("x-lg"){
	   	  font-size: em(28px);
	        line-height: (36px/28px);
	      }
} 
 

  
  
  

