// ==========================================================================
// Typography
//==========================================================================
.container {
	font-family: $font-family--primary;
	@include text($base__font-size, ($base__line/$base__font-size ), $color: $black);
	background-color: rgba($mystic, .1);
}


.headline--primary,
.headline--secondary,
.link{
	font-family: $font-family--secondary;
	
}

.headline--primary {
	@extend %h-prim;
	@include text(em(30px), (36px/30px), $color: $color-primary);
	text-shadow: 1px 1px 0 rgba($black , .8);
}



.headline--secondary {
	@extend %h-sec;
	@include text(em(20px), $color: $oxford-blue);
	
}


.link {
	@include text(em(19px), (36px/30px), $font-weight--bold, $color-secondary);
	text-decoration: none;
	text-shadow: 0.5px 0.5px 0 rgba($black, .8);
	&:hover {
		color: $color-accent;
	}
}

