// ==========================================================================
// Base Styles
// ==========================================================================

* {
	box-sizing: border-box;
	//border: red 1px solid;
}





ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
 
  
  
}


p {

margin-bottom: 1.25em;

}





