// ==========================================================================
// Base Styles
// ==========================================================================

* {
	box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
 
  
  
}

a {
 color: $electric-blue;	
}

.nav__item a {
  color: $oxford-blue;
  font-family: 'Poiret One', cursive;
  font-size: 2em;
  border-bottom: 2px solid $electric-blue;
  text-decoration: none;
}

p {
font-size:1.5em;
color: $oxford-blue;
font-family:'Quicksand', sans-serif;

}

h1 {
	color: $electric-blue;
	font-size: 3em;
	font-family: 'Poiret One', cursive;
}

.blockquote {
	border-left: 10px solid $lipstick;
	font-size: 2.5em;
	padding: 10px;
	margin: 10px;
	color: $oxford-blue;
	font-family:'Quicksand', sans-serif;
	font-weight: 500;
	font-style: italic;
}
.grid__col--6 {
	background: $gradient;  
}


